
@*@{
    ViewData["Title"] = "Thanks";
}

<h2>Thanks</h2>*@

@model PartyEinladungen.Models.GuestResponse

@{ 
    Layout = null;
}


<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Thanks</title>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>

    <body class="text-center">
        <p>
        <h1>Thank you, @Model.Name!</h1>
            @if (Model.WillAttend == true)
            {
                @: Toll, dass Du kommst.
            }
            else
            { 
                @: Schade, dass Du nicht kommst
            }
        </p>
        <p>
            Click <a class="nav-link" asp-action="ListResponses">here</a> to see who is coming.
        </p>
    </body>
</html>



